---
import Layout from '../layouts/Layout.astro';
import Header from './Header.astro';
import OSPages from './OSPages.svelte';
const path = Astro.url.pathname;
---

<Layout>
    <OSPages client:load currentPage={path} />

    <Header header='Please select an Operating System' />

    <div style='display: flex; width: 100%; justify-content: space-between; margin-top: 1rem;'>
        <a href={`${path}/windows`} class='button'>Windows</a>
        <a href={`${path}/mac`} class='button'>Mac</a>
        <a href={`${path}/linux`} class='button'>Linux</a>
    </div>
    {path}
</Layout>
